<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bill">
            <h2><span>Bill</span> {{bill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{bill.creationDate}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{bill.status}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{bill.amount}}</span>
                </dd>
                <dt><span>Player</span></dt>
                <dd>
                    <div *ngIf="bill.playerId">
                        <a [routerLink]="['/player', bill.playerId, 'view']">{{bill.playerLastName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill', bill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
